.pageTitle {
    font-family: 'LowresPixel', sans-serif;
    color: var(--text);
    font-size: 3rem;
    padding: 1.5rem 3rem 1.5rem 3rem; 
    text-align: center;
}

.gamemodesContainer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 3rem;
}

.quizContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.quizTitle {
    font-family: 'LowresPixel', sans-serif;
    color: var(--text);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.commentSectionContainer {
    margin: 3rem;
}

.commentSectionContainer h1 {
    font-family: 'LowresPixel', sans-serif;
    color: var(--text);
    margin-bottom: 1rem;
}