.card {
  background: var(--black2);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-s);
  padding: 2rem;
  max-width: 25rem;
  margin: 0 auto;
}

.question {
  font-size: 1.2rem;
  color: var(--text);
  margin-bottom: 1.5rem;
  font-family: 'LowresPixel', sans-serif;
}

.choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  
}

.resultContainer{
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.feedbackText {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--text);
}

.pollingIcon {
  width: 3rem;
  object-fit: cover;
}