.hoverCardInsideContainer {
    background-color: var(--black2);
    padding: 0.5rem;

    display: flex;
    flex-direction: column;

    gap: 1rem;

    border-radius: 0.25rem;

    box-shadow: var(--shadow-s);
}

.hoverCardInsideNames {
    /* background-color: orange; */
    max-width: 15rem;

    display: flex;
    flex-wrap: wrap;

    gap: 0.25rem;
}

.textNumberContainer {
    /* background-color: pink; */
    display: flex;
    justify-content: flex-start;
}

.correctTextNumber {
    background-color: var(--black1);
    color: green;

    padding: 0.1rem 0.25rem;
    margin-bottom: 0.5rem; 

    border-radius: 0.25rem;
    box-shadow: var(--shadow-s);
}

.incorrectTextNumber {
    background-color: var(--black1);
    color: red;

    padding: 0.1rem 0.25rem;
    margin-bottom: 0.5rem;

    border-radius: 0.25rem;
    box-shadow: var(--shadow-s);
}


.correctNameText {
    background-color: green;
    border-radius: 0.25rem;
    padding: 0.1rem 0.25rem;
}

.incorrectNameText {
    background-color: red;
    border-radius: 0.25rem;
    padding: 0.1rem 0.25rem;
}